body{
    background-color: black;
    color:white;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

.titulo {
    padding-top: 2em;
    text-align: center;
}
.card {
    border-radius: 5px !important;
    background-color: rgba(2, 27, 8, 0.13);
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.49), 0 7px 14px rgba(0, 0, 0, 0.50);
    margin-top: 25px;
    margin-bottom: 1em;
    overflow: hidden;
}
.fixeded {
    z-index: 0;
    position: fixed;
}
footer {
    background: #F5F7FA;
    color: #ecf0f1;
}

footer #copyright {
    background: #1A1B1D;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 0;
}

#copyright {
    padding-top: 3em;
    padding-bottom: 3em;
    height: 250px;
}

.fixeded {
    z-index: 0;
    position: fixed;
}
.repro{
    border: 0.5px solid #ECECEC;
    border-radius: 18px;
    margin-left: auto;
    margin-right: -15px;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: none;
    background: #000;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20px;
    z-index: 1000;
    margin-bottom: 0px;
}
.cont{
    border: 0.5px solid #692a2a;
    border-radius: 18px;
    margin-left: -10px;
    margin-right: auto;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: solid;
    background: #000;
    left: 0px;
    right: 0px;
    bottom: 1px;
    margin-bottom: 0px;
}
.repro-buttom {
        display: flex;
        margin-top: 7px;
        margin-left: 45px;
        margin-right: 45px;
}
.repro-bar {
        margin-left: 10px;
        margin-top: 10px;
}

.repo-titulo{
    margin-top: -5px;
}
.cont-titulo{
    margin-top: 10px;
    margin-left: 12px;
}
.cont-text{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.copyright{
        background-color: #000;
}

.black {
  background-color: #000000 !important;
}
.card-panel {
  transition: box-shadow .25s;
  padding: 20px;
  margin: 0.5rem 0 1rem 0;
  border-radius: 2px;
  background-color: #fff;
}

.center, .center-align {
  text-align: center;
}

.yellow-text {
  color: #ffeb3b !important;
}

.yellow-text.text-darken-3 {
  color: #f9a825 !important;
}

.red-text {
  color: #F44336 !important;
}

.red-text.text-darken-3 {
  color: #C62828 !important;
}
