.textcenter {
  text-align: center;
}
 .profile-text-tecnico{
   text-align: center;
   font-size: 10px;
   font-style: italic;
 }
.tecnico-inf-txt{
  text-align: center;
  font-style: normal;
  font-weight: bold;
}
.header {
  background: rgba(33, 33, 33, 0.4);
   padding: 0em 0em 0em;
  /*border-bottom: 2px solid #ffcd30;*/
}
.header .img{
  text-align: center !important;
  margin: 0.4em;
  padding-top: 2em;
  width: 20%;
}
.col-md-10 {
  width: 83.33333333% !important;
}
.top-nav {
    float: right !important;
}
.nav-top{
  float: none;
  text-align: center;
  /*width: 100%;*/
}
.centrado {
    position: relative !important;
    left: 50%;
}
.no-float{
	float: none;
}
.inline-block {
	float:none;
	display: inline-block;
	margin-right: 3em;
}
.inline-center{
  float:none;
  display: block;
  margin-right: 2em;
}
.img-center{
  display: block;
  margin-left: auto;
	margin-right: auto;
}
.img-profile{
  width: 130px;
}
.up {
	vertical-align: top;
}
.block{
  display: inline;
  margin-left: 50%;
  margin-right: 50%;
}
.card{
  border-radius: 5px !important;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.14), 0 2px 5px rgba(0, 0, 0, 0.25);
  margin-left: 2.25em;
  margin-right: 0em;
	margin-top: 0.15em;
}
.inside-card{
	-webkit-padding-after: 30px;
	-webkit-padding-before: 30px;
	padding-block-end: 30px;
	padding-block-start: 30px;
}
.re05 {
	-webkit-animation-delay:0.5s;
	-moz-animation-delay:0.5s;
	animation-delay: 0.5s;
}
.re1 {
	-webkit-animation-delay:1s;
	-moz-animation-delay:1s;
	animation-delay: 1s;
}
.re15 {
	-webkit-animation-delay: 1.5s;
	-moz-animation-delay: 1.5s;
	animation-delay:  1.5s;
}
.re2 {
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay:  2s;
}
.re25 {
	-webkit-animation-delay:2.5s;
	-moz-animation-delay:2.5s;
	animation-delay: 2.5s;
}
.re3 {
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay:  3s;
}
.re35 {
	-webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	animation-delay:  3.5s;
}
.re4 {
	-webkit-animation-delay: 4s;
	-moz-animation-delay: 4s;
	animation-delay:  4s;
}
.re45 {
	-webkit-animation-delay: 4.5s;
	-moz-animation-delay: 4.5s;
	animation-delay:  4.5s;
}
.re5 {
	-webkit-animation-delay: 5s;
	-moz-animation-delay: 5s;
	animation-delay:  5s;
}

.no-float{
	float: none;
}
.espacio-d {
	margin-right: 5em;
}
.casos .dashboard-stat .visual {
    width: 50px;
    height: 50px;
}

.casos .dashboard-stat .details .number {
    padding-top: 5px;
}
