body {
    background-color: black;
    color: white;
}

input,
section {
    width: 20%;
    color: inherit;
}

#carousel {
    margin-bottom: -10px !important;
}

.noticias.card.ho:hover {
    background: rgba(56, 120, 139, 0.45);
}

a:hover {
    color: white;
    text-decoration: none !important;
}

a {
    color: white;
    text-decoration: none !important;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.texto-resumen {
    text-align: justify;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
}

.titulo-noticia {
    padding-top: 0.5em;
    text-align: center;
}

.img-box {
    object-fit: cover;
    height: 30vh !important;
    width: 100% !important;
}

.titulo {
    padding-top: 0.5em;
    text-align: center;
}

.noticias {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 25px;
    display: inline-block;
    padding-bottom: 25px;
    width: 100%;
}

.fecha-dia {
    text-align: center;
    font-size: 35px;
    text-shadow: 3px 3px #565656;
}

.fecha-mes {
    text-align: left;
    margin-left: -30px;
    font-size: 35px;
    text-shadow: 3px 3px #565656;
}

.fecha-ano {
    text-align: left;
    font-size: 35px;
    text-shadow: 3px 3px #565656;
}

.noti-top {
    border-bottom: 1px solid rgb(183, 194, 25);
    height: 0px;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border-radius: 5px !important;
    background-color: rgba(2, 27, 8, 0.13);
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.49), 0 7px 14px rgba(0, 0, 0, 0.50);
    margin-top: 25px;
    margin-bottom: 1em;
}


/***********************/


/*     GALERIA         */


/***********************/

#galeria {
    background-color: #000;
    padding: 1em auto;
}

#galeria img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

#galeria img:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */
}

footer {
    background: #F5F7FA;
    color: #ecf0f1;
}

footer #copyright {
    background: #1A1B1D;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 0;
}

#copyright {
    padding-top: 3em;
    padding-bottom: 3em;
    height: 250px;
}

.fixeded {
    z-index: 0;
    position: fixed;
}

.repro {
    border: 0.5px solid #ECECEC;
    border-radius: 18px;
    margin-left: auto;
    margin-right: -15px;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: none;
    background: #000;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20px;
    z-index: 1000;
    margin-bottom: 0px;
}

.cont {
    border: 0.5px solid #692a2a;
    border-radius: 18px;
    margin-left: -10px;
    margin-right: auto;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: solid;
    background: #000;
    left: 0px;
    right: 0px;
    bottom: 1px;
    margin-bottom: 0px;
}

.repro-buttom {
    display: flex;
    margin-top: 7px;
    margin-left: 45px;
    margin-right: 45px;
}

.repro-bar {
    margin-left: 10px;
    margin-top: 10px;
}

.repo-titulo {
    margin-top: -5px;
}

.cont-titulo {
    margin-top: 10px;
    margin-left: 12px;
}

.cont-text {
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.copyright {
    background-color: #000;
}