body {
    background-color: #000;
    padding: 0 auto !important;
}

h2,
h3,
h4,
h1,
h5 {
    margin: 0.5em auto;
    text-align: center;
}

.contendor {
    margin: 0 auto;
    max-width: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-right: 0px
}

.contendor-body {
    width: auto;
}

.img {
    margin-top: 2em !important;
}

/*NOTICIAS*/

.unoticias {
    background-image: url('../img/fondo-3.jpg');
    color: rgb(255, 255, 255);
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: em;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    overflow: hidden;
}

#unoticias .fecha-dia {
    text-align: center;
    font-size: 50px;
    text-shadow: 3px 3px #565656;
}
#unoticias .fecha-mes {
    text-align: center;
    font-size: 23px;
    text-shadow: 3px 3px #565656;
}
#unoticias .fecha-ano {
    text-align: center;
    font-size: 30px;
    text-shadow: 3px 3px #565656;
}
#unoticias .noti-top{
    border-bottom: 1px solid rgb(183, 194, 25);
    height: 55px;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
#unoticias .card {
    border-radius: 5px !important;
    background-color: rgba(2, 27, 8, 0.13);
    box-shadow: 0 2px 4px rgba(112, 112, 112, 0.49), 0 7px 14px rgba(0, 0, 0, 0.50);
    margin-top: 0.05em;
    margin-bottom: 1em;
}

#unoticias h2 {
    margin: 0 auto !important;
}
#unoticias img {
    width: 120%;
    margin-left: -35px;
    margin-top: 20px;
    filter: none;
    /* IE6-9 */
    -webkit-filter: none(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

#unoticias .contenido {
    text-align: justify;
    margin-bottom: 15px;
}

#unoticias .titulo {
    padding-top: 1em;
    text-align: center;
}

#unoticias .articulo-noticias {
    width: 750px;
}

#unoticias a{
    text-align: center;
}

.unoticias h3 {
    text-align: center;
}

.noticias {
    margin-top: 25px;
    margin-bottom: 25px;
}
#unoticias .row .noticias {
    margin-right: 0px;
    margin-left: 0px;
}

.seccion-noticias {
    margin: 5px auto;
}

.twiter {
    margin-left: 10px;
}

.efemerides {
    overflow: hidden;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
}

.programas {
    border-top: 2px solid #ffcd30;
}

.tabla-programas {
    height: 600px;
}


/*-----------PROGRAMAS_____________*/

.programas {
    background-image: url('../img/fondo-4.jpg');
    margin: 0 auto;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    overflow: hidden;
}

#programas {
    font-family: Arial !important;
    z-index: 1;
}

#programas ul,
ol {
    text-align: center;
}

#programas ul {
    list-style-type: none;
    text-align: center;
}

#programas li {
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    color: black;
}

#programas .inside-card {
    -webkit-padding-after: 0px;
    -webkit-padding-before: 0px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    text-align: center;
}

#programas .img {
    margin-top: 0em !important;
}

#programas .contenedor-text {
    margin-bottom: 1em;
}

#programas .contenedor .square {
    margin-left: 0px;
}

#programas .modal-body {
    margin-left: 0px;
}

#programas .carousel-control.right {
    right: -60px;
}

#programas .contenedor {
    padding: 1px !important;
    padding-left: 20px;
    padding-right: 20px;
    /* margin: 50px; */
    margin-left: 100px;
    margin-right: -100px;
}

#programas .carousel-inner {
    position: relative;
    width: 100%;
    /* overflow: hidden; */
}
/*.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
     -moz-transition: 0.6s ease-in-out left;
       -o-transition: 0.6s ease-in-out left;
          transition: 0.6s ease-in-out left;
}*/
#programasCarousel .carousel-inner {
    margin-left: 30px;
    margin-right: 30px;
}

#programas .ih-item.square {
    position: relative;
    width: 234px;
    height: 216px;
    border: 3px solid #fff;
    box-shadow: 1px 1px 3px rgba(133, 129, 129, 0.66);
}

#programas .card .col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px !important;
    padding-left: 0px !important;
}


/*-----------EFEMERIDES------------*/

#efemerides html,
body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    font-family: 'Sansita', sans-serif;
    color: #fff;
}

#efemerides {
    border-top: 2px solid #ffcd30;
    padding: 1em auto !important;
    margin-left: 0em;
    margin-bottom: 2em;
}

#efemerides .carousel-inner,
.carousel,
.item,
.container,
.fill {
    height: 100%;
    width: 100%;
    background-position: center center;
    background-size: cover;
}

#efemerides .slide-wrapper {
    display: inline;
}

#efemerides .slide-wrapper .container {
    padding: 0px;
}


/*------------------------------ vertical bootstrap slider----------------------------*/

#efemerides .carousel-inner>.item.next,
.carousel-inner>.item.active.right {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    top: 0;
    left: 0;
}

#efemerides .carousel-inner>.item.prev,
.carousel-inner>.item.active.left {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    top: 0;
    left: 0;
}

#efemerides .carousel-inner>.item.next.left,
.carousel-inner>.item.prev.right,
.carousel-inner>#efemerides .item.active {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    top: 0;
    left: 0;
}





/***********************/


/*     GALERIA         */


/***********************/

#galeria {
    background-image: url('../img/fondo-6.jpg');
    background-color: #000;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    padding: 1em auto;
}

#galeria img {
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(1);
    /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 20px;
}

#galeria img:hover {
    filter: none;
    /* IE6-9 */
    -webkit-filter: grayscale(0);
    /* Google Chrome, Safari 6+ & Opera 15+ */
}


/***********************/


/*   Carousel Video    */


/***********************/


/* Makes images fully responsive */

#videoteca {
    background-color: #000;
    border-top: 2px solid #ffcd30;
    padding: 1em auto;
    padding-top: 3em;
}
#videoteca .container{
    padding-left: 105px;
    left: 0;
    right: 0;
}

#videoteca .img-responsive,
ec .thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: auto;
}




/**************EVENTOS***************/

#eventos {
    background-color: #000;
    padding: 1em auto;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
}

#eventos .img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    display: block;
    width: 100%;
    height: auto;
}


.debate {
    background-color: #575757;
    color: white;
    margin: 0 auto;
}

#debate h2 {
    margin: 0 auto !important;
}

#debate .contenido {
    text-align: justify;
}

#debate .titulo {
    text-align: center;
}

#debate {
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    position: relative;
    /*background-image: url('../img/background/debate.jpg');*/
    /*height: 472px;*/
    z-index: 0;
}

#debate .img {
    margin-top: 0 !important;
    padding: 0 auto !important;
    z-index: 0 !important;
}

#debate .section {
    padding-top: 20px;
    background-size: 100% auto;
}

#debate .section {
    padding-top: 0 !important;
    position: relative;
}

#debate a {
    color: #e74c3c;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

#debate .debate_texto a {
    color: #fff;
}

#debate .debate_texto {
    color: #fff;
    position: absolute;
    left: 5%;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    top: 30%;
    width: 41%;
    font-size: 12px;
}

#debate @media (min-width: 1350px) {
    #debate .debate_texto a p {
        font-size: 1.5em;
        line-height: 28px;
    }
}

#debate .debate_texto p {
    font-size: 14px;
    font-weight: bold;
}

#debate @media (min-width: 1350px) {
    #debate .debate_texto a  {
        margin-top: 60px;
        font-size: 1.5em;
    }
    #debate  .firma {
        margin-top: 60px;
        font-size: 0.75em;
    }
}

#debate .debate_texto {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
}
#debate .firma {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
}

#organizacion {
    background-image: url('../img/fondo-5.jpg');
    margin: 0 auto;
    border-top: 2px solid #ffcd30;
    border-bottom: 2px solid #ffcd30;
    overflow: hidden;
    margin-left: 0px;
    margin-right: : 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#organizacion .texto {
    text-align: justify;
    margin-left: 10px;
    margin-bottom: 20px;
}

#organizacion .resumen {
    margin: 10px auto;
    padding: 10px auto;
}

.timeline-Viewport {
    margin-left: 40px;
}

.container {
    padding-left: 30px;
}


footer {
    background: #F5F7FA;
    color: #ecf0f1;
}

footer #copyright {
    background: #1A1B1D;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    padding: 20px 0;
}

#copyright {
    padding-top: 3em;
    padding-bottom: 3em;
    height: 250px;
}

.fixeded {
    z-index: 0;
    position: fixed;
}
.repro{
    border: 0.5px solid #ECECEC;
    border-radius: 18px;
    margin-left: auto;
    margin-right: -15px;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: none;
    background: #000;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 20px;
    z-index: 1000;
    margin-bottom: 0px;
}
.cont{
    border: 0.5px solid #692a2a;
    border-radius: 18px;
    margin-left: -10px;
    margin-right: auto;
    height: 70px !important;
    color: #FFF;
    border-bottom-style: none;
    border-top-style: solid;
    background: #000;
    left: 0px;
    right: 0px;
    bottom: 1px;
    margin-bottom: 0px;
}
.repro-buttom {
        display: flex;
        margin-top: 7px;
        margin-left: 45px;
        margin-right: 45px;
}
.repro-bar {
        margin-left: 10px;
        margin-top: 10px;
}

.repo-titulo{
    margin-top: -5px;
}
.cont-titulo{
    margin-top: 10px;
    margin-left: 12px;
}
.cont-text{
    color: #fff;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.copyright{
        background-color: #000;
}
